# Creating a Database using sqlite

In [1]:
import sqlite3
import pandas as pd
import os
import re

In [4]:
# path of file with time ranges
times_file_path = 'E:\Physio_Data_Split_Exercise_done\selected_times.csv'

data = pd.read_csv(times_file_path,header=None)

data.head()

                                                   0
0  subject01_RF_05.csv\t1.1482924107142871\t3.699...
1  subject02_RF_05.csv\t0.6509139384920637\t3.911...
2  subject03_RF_05.csv\t1.0330865575396828\t5.042...
3  subject04_RF_05.csv\t1.492857142857142\t5.1612...
4  subject05_RF_05.csv\t1.4544810267857144\t4.407...

In [6]:
def generate_db(db_name, data, descriptions=None):
    """Generate a new data-base, and fill it with the data provided.
    
    Parameters
    ----------
        db_name : str
                Name of the database
        data : pandas DataFrame
                Content of the database
        descriptions: list of string
            More detailed descriptions of the paradigms
            
    Return
    ------
        None
        
    Notes
    -----
        The generated sample database has the following tables, with the corresponding fields
        subjects:    id / weight_kg / height_m / age / gender / first_name / last_name
        paradigms:   id / full_name / abbreviation / short_description
        exercises:   id / subject_id / paradigm_id / num_rep / date / csv_file
        repetitions: id / exercise_id / start_time / stop_time
        
    """
    list_subject_nums = ['01','02','03','04','05','06','07','08','09','10']
    list_paradigm_abbrs = ['RF','RO','RS','LR','BC','TC','MP','SA','P1','P2']
    list_repetitions = ['05','10','15']
    
    # Create the database
    conn = sqlite3.connect(db_name)
    cur = conn.cursor()
    
    
    # Create the "subjects"-table, and fill it
    subjects_sql = """
        CREATE TABLE subjects (
        id integer PRIMARY KEY,
        weight_kg real,
        height_m real,
        age integer,
        gender text,
        first_name,
        last_name)"""
    cur.execute(subjects_sql)
    
    subjects_sql = "INSERT INTO subjects (id) VALUES (?)"
    for sub_num in list_subject_nums:
        cur.execute(subjects_sql, (int(sub_num),))
    
    
    # Create the "paradigms"-table, and fill it
    paradigms_sql = """
        CREATE TABLE paradigms (
        id integer PRIMARY KEY,
        full_name text,
        abbreviation text NOT NULL,
        short_description text)"""
    cur.execute(paradigms_sql)

    paradigm_sql = "INSERT INTO paradigms (abbreviation) VALUES (?)"
    for paradigm_abbr in list_paradigm_abbrs:
        cur.execute(paradigm_sql, (paradigm_abbr,))
        
    #paradigm_sql = "INSERT INTO paradigms (short_description) VALUES (?)"
    #for descr in descriptions:
    #    cur.execute(paradigm_sql, (descr,))
        
    
    # Create the "exercise"-table
    exercise_sql = """
        CREATE TABLE exercises (
        id integer PRIMARY KEY,
        subject_id integer NOT NULL,
        paradigm_id integer NOT NULL,
        num_rep integer NOT NULL,
        date text,
        csv_file text NOT NULL
        )"""
    conn.execute(exercise_sql)

    
    # Create the "repetitions"-table
    repetitions_sql = """
        CREATE TABLE repetitions (
        id integer PRIMARY KEY,
        sequence_num integer NOT NULL,
        exercise_id integer NOT NULL,
        start_time text NOT NULL,
        stop_time text NOT NULL
        )"""
    conn.execute(repetitions_sql)
    
    
    paradigm_sql = 'SELECT id FROM paradigms WHERE abbreviation = ?'
    exercise_sql = 'INSERT INTO exercises (subject_id, paradigm_id, num_rep, csv_file) VALUES (?,?,?,?)'
    repetitions_sql = 'INSERT INTO repetitions (sequence_num, exercise_id, start_time, stop_time) VALUES (?,?,?,?)'
    
    
    #number_data_points = np.shape(data.values)[0]
    
    for index, line in data.iterrows():
        # get current file name from data
        current_file_name = line[0].split('\t')[0]
        
        # get subject-id from file name
        subject_id = int(re.split('[t_.]',current_file_name)[1])
        
        # get exercise abbreviation from file name
        ex_abbr = re.split('[t_.]',current_file_name)[2]
        
        # get the corresponding paradigm-id
        cur.execute(paradigm_sql, (ex_abbr,))
        paradigm_id = cur.fetchone()[0]
        
        # get number of repetitions from file name
        number_repetitions = int(re.split('[t_.]',current_file_name)[3])
        
        # generate the entry in "exercises", and get the corresponding id
        cur.execute(exercise_sql, (subject_id, paradigm_id, number_repetitions, current_file_name))
        exercise_id = cur.lastrowid
        
        # generate the entries in "repetitions"
        time_points = line[0].split('\t')[1:]
        for ii in range(len(time_points)-1):
            cur.execute(repetitions_sql, (ii+1, exercise_id, time_points[ii], time_points[ii+1]))
        
    conn.commit()
    conn.close()
    return

In [ ]:
db_name = 'DataBase_Physio.db'

if os.path.exists(db_name):
    os.remove(db_name)

generate_db(db_name, data)

In [22]:
# Connect to an existing database
conn = sqlite3.connect(db_name)
cur = conn.cursor()

# Now that the data are entered, an example of how to extract them
query_sql = """
    SELECT e.subject_id, s.first_name,
        p.abbreviation,
        e.num_rep,
        r.sequence_num,
        r.start_time, r.stop_time,
        e.csv_file
    FROM subjects s
    INNER JOIN exercises e
    ON s.id = e.subject_id
    INNER JOIN paradigms p
    ON p.id = e.paradigm_id
    INNER JOIN repetitions r
    ON e.id = r.exercise_id
    """
df = pd.read_sql_query(query_sql, conn)

conn.close()

df

,subject_id,first_name,abbreviation,num_rep,sequence_num,start_time,stop_time,csv_file
0,1,None,RF,5,1,1.1482924107142871,3.699122023809525,subject01_RF_05.csv
1,1,None,RF,5,2,3.699122023809525,6.49581473214286,subject01_RF_05.csv
2,1,None,RF,5,3,6.49581473214286,9.384706101190478,subject01_RF_05.csv
3,1,None,RF,5,4,9.384706101190478,12.073833705357146,subject01_RF_05.csv
4,1,None,RF,5,5,12.073833705357146,14.809060639880954,subject01_RF_05.csv
5,2,None,RF,5,1,0.6509139384920637,3.911928323412699,subject02_RF_05.csv
6,2,None,RF,5,2,3.911928323412699,7.031159474206351,subject02_RF_05.csv
7,2,None,RF,5,3,7.031159474206351,10.398511284722224,subject02_RF_05.csv
8,2,None,RF,5,4,10.398511284722224,13.588634052579367,subject02_RF_05.csv
9,2,None,RF,5,5,13.588634052579367,16.49519035218254,subject02_RF_05.csv
10,3,None,RF,5,1,1.0330865575396828,5.0426711309523835,subject03_RF_05.csv
11,3,None,RF,5,2,5.0426711309523835,9.073030753968258,subject03_RF_05.csv
12,3,None,RF,5,3,9.073030753968258,13.020290178571432,subject03_RF_05.csv
13,3,None,RF,5,4,13.020290178571432,17.216850198412704,subject03_RF_05.csv
14,3,None,RF,5,5,17.216850198412704,21.143334573412705,subject03_RF_05.csv
15,4,None,RF,5,1,1.492857142857142,5.161269841269842,subject04_RF_05.csv
16,4,None,RF,5,2,5.161269841269842,8.656825396825397,subject04_RF_05.csv
17,4,None,RF,5,3,8.656825396825397,12.22920634920635,subject04_RF_05.csv
18,4,None,RF,5,4,12.22920634920635,15.379047619047622,subject04_RF_05.csv
19,4,None,RF,5,5,15.379047619047622,19.124285714285715,subject04_RF_05.csv
20,5,None,RF,5,1,1.4544810267857144,4.407661830357142,subject05_RF_05.csv
21,5,None,RF,5,2,4.407661830357142,7.673532366071429,subject05_RF_05.csv
22,5,None,RF,5,3,7.673532366071429,10.835172991071428,subject05_RF_05.csv
23,5,None,RF,5,4,10.835172991071428,14.083671875,subject05_RF_05.csv
24,5,None,RF,5,5,14.083671875,17.40165736607143,subject05_RF_05.csv
25,7,None,RF,5,1,0.20373015873015987,2.5041269841269864,subject07_RF_05.csv
26,7,None,RF,5,2,2.5041269841269864,5.220079365079367,subject07_RF_05.csv
27,7,None,RF,5,3,5.220079365079367,7.78761904761905,subject07_RF_05.csv
28,7,None,RF,5,4,7.78761904761905,10.280952380952385,subject07_RF_05.csv
29,7,None,RF,5,5,10.280952380952385,12.80396825396826,subject07_RF_05.csv
...,...,...,...,...,...,...,...,...
2680,7,None,P2,15,15,39.15133928571428,42.42678571428571,subject07_P2_15.csv
2681,8,None,P2,15,1,1.0367876325334802,3.5061735607328828,subject08_P2_15.csv
2682,8,None,P2,15,2,3.5061735607328828,5.7806079682849685,subject08_P2_15.csv
2683,8,None,P2,15,3,5.7806079682849685,8.022550455729164,subject08_P2_15.csv
2684,8,None,P2,15,4,8.022550455729164,10.329476783389136,subject08_P2_15.csv
2685,8,None,P2,15,5,10.329476783389136,12.79886271158854,subject08_P2_15.csv
2686,8,None,P2,15,6,12.79886271158854,15.073297119140623,subject08_P2_15.csv
2687,8,None,P2,15,7,15.073297119140623,17.21776384626116,subject08_P2_15.csv
2688,8,None,P2,15,8,17.21776384626116,19.68714977446056,subject08_P2_15.csv
2689,8,None,P2,15,9,19.68714977446056,22.091551862444195,subject08_P2_15.csv
2690,8,None,P2,15,10,22.091551862444195,24.398478190104168,subject08_P2_15.csv
2691,8,None,P2,15,11,24.398478190104168,26.672912597656254,subject08_P2_15.csv
2692,8,None,P2,15,12,26.672912597656254,28.97983892531622,subject08_P2_15.csv
2693,8,None,P2,15,13,28.97983892531622,31.41673293340774,subject08_P2_15.csv
2694,8,None,P2,15,14,31.41673293340774,33.756151181175596,subject08_P2_15.csv
2695,8,None,P2,15,15,33.756151181175596,36.29052094959077,subject08_P2_15.csv
2696,9,None,P2,15,1,1.0542410714285708,3.651407877604168,subject09_P2_15.csv
2697,9,None,P2,15,2,3.651407877604168,6.550570824032739,subject09_P2_15.csv
2698,9,None,P2,15,3,6.550570824032739,9.087338402157737,subject09_P2_15.csv
2699,9,None,P2,15,4,9.087338402157737,11.442908296130952,subject09_P2_15.csv
2700,9,None,P2,15,5,11.442908296130952,13.828677804129466,subject09_P2_15.csv
2701,9,None,P2,15,6,13.828677804129466,15.972850399925598,subject09_P2_15.csv
2702,9,None,P2,15,7,15.972850399925598,18.268021065848217,subject09_P2_15.csv
2703,9,None,P2,15,8,18.268021065848217,20.47259288969494,subject09_P2_15.csv
2704,9,None,P2,15,9,20.47259288969494,22.88856201171875,subject09_P2_15.csv
2705,9,None,P2,15,10,22.88856201171875,25.15353306361607,subject09_P2_15.csv
2706,9,None,P2,15,11,25.15353306361607,27.539302571614588,subject09_P2_15.csv
2707,9,None,P2,15,12,27.539302571614588,29.623075939360124,subject09_P2_15.csv
2708,9,None,P2,15,13,29.623075939360124,31.918246605282743,subject09_P2_15.csv
2709,9,None,P2,15,14,31.918246605282743,34.06241920107887,subject09_P2_15.csv

In [23]:
# Connect to an existing database
conn = sqlite3.connect(db_name)
cur = conn.cursor()

# Now that the data are entered, an example of how to extract them
query_sql = """
    SELECT e.subject_id,
        p.abbreviation,
        e.num_rep,
        r.sequence_num,
        r.start_time, r.stop_time,
        e.csv_file
    FROM subjects s
    INNER JOIN exercises e
    ON s.id = e.subject_id
    INNER JOIN paradigms p
    ON p.id = e.paradigm_id
    INNER JOIN repetitions r
    ON e.id = r.exercise_id
    WHERE r.sequence_num > e.num_rep
    """
df2 = pd.read_sql_query(query_sql, conn)

conn.close()

df2

,subject_id,abbreviation,num_rep,sequence_num,start_time,stop_time,csv_file
0,9,LR,10,11,21.704816545758938,23.969116210937507,subject09_LR_10.csv
1,1,BC,10,11,29.502682059151795,32.41607840401787,subject01_BC_10.csv
2,4,BC,10,11,31.739542933872773,35.325371442522325,subject04_BC_10.csv
3,3,BC,15,16,56.598908923921144,60.93714134579615,subject03_BC_15.csv
4,9,TC,10,11,26.7904761904762,29.14761904761906,subject09_TC_10.csv
5,3,TC,15,16,57.79648699079242,61.48594883510046,subject03_TC_15.csv
6,3,TC,15,17,61.48594883510046,65.45491536458334,subject03_TC_15.csv
7,6,MP,10,11,30.631845238095238,33.773065476190474,subject06_MP_10.csv
8,6,MP,10,12,33.773065476190474,37.505208333333336,subject06_MP_10.csv
9,5,MP,15,16,44.84864676339288,47.87193952287949,subject05_MP_15.csv
10,3,SA,10,11,33.475340053013404,36.58658447265626,subject03_SA_10.csv
11,8,SA,10,11,25.650000000000006,28.047656250000003,subject08_SA_10.csv
12,1,SA,15,16,48.74684361049107,52.21938999720982,subject01_SA_15.csv
13,7,P1,15,16,35.40289655412947,38.24052211216518,subject07_P1_15.csv
14,3,P2,10,11,36.79630591982887,40.25608636765253,subject03_P2_10.csv

In [48]:
df3 = df

time_diff = \
    np.array([float(df['stop_time'].values[ii]) for ii in range(len(df['stop_time'].values))]) - \
    np.array([float(df['start_time'].values[ii]) for ii in range(len(df['start_time'].values))])

df3['duration'] = time_diff

df3.describe()

        subject_id      num_rep  sequence_num     duration
count  2710.000000  2710.000000   2710.000000  2710.000000
mean      4.995941    11.666052      6.358672     2.790669
std       2.582915     3.720722      4.001816     0.588107
min       1.000000     5.000000      1.000000     1.140213
25%       3.000000    10.000000      3.000000     2.360409
50%       5.000000    10.000000      6.000000     2.659564
75%       7.000000    15.000000      9.000000     3.121641
max       9.000000    15.000000     17.000000     5.466917